#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-menu {
    display: flex;
    gap:20px;
    list-style-type: none;

}
.navbar-right{
    display: flex;
    gap:20px;
    
}
.searchbtn{
    padding: 10px;
}

.navbar button{
    background: transparent;
    border: 2px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bolder;

}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar-menu li{
    cursor: pointer;
}


/* active menu styling */
.active{
    color: rgb(212, 91, 91);
    border-bottom: 2px solid black;
    font-weight: bold;
    
}


/* basket dot styling */
.navbar-search-icon{
    position: relative;
}
.dot{
    position: absolute;
    top:-9px;
    left:20px;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


@media screen  and (max-width:1050px){
    .navbar-logo{
        width: 140px;
    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 22px;

    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media screen  and (max-width:890px){
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar-right{
        gap:10px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media screen  and (max-width:750px){
    .navbar-menu{
        display: none;
    }
    
}

